extends layout
  
block content
	h1 #{title}
	form(method='POST',action='/images/add')
		#form-group
			label Name:
			input.form-control(name='name',type='text')
		#form-group
			label url:
			input.form-control(name='url',type='text')
		input.btn.btn-primary(type='submit',value='submit')
